Repository JDRF/spirit, pull requests merged in 2020-01, with the labels that each got.

#407 feature/DGST-5-long-form-text-class
  doc-site/docs/components/long-form-text.njk
  doc-site/docs/doc-components/typography-swatches.njk
Labels: Doc Site

#406 added fixed left navigation
  doc-site/styles/docs/doc_template.scss
Labels: Doc Site

#410 feature/DGST-25-add-spirit-body-text-do-lft
  library/components/long-form-text/long-form-text.scss
  library/docs/sink-pages/components/long-form-text.njk
Labels: BUG

#413 DGST-8: Set explicit size of hero svg wave for IE11
  doc-site/docs/index.njk
  doc-site/styles/docs/doc_home.scss
Labels: BUG, Doc Site

#409 Feature/dgst 12 add form password input doc
  doc-site/docs/components/forms.njk
  library/components/form/form.js
  library/components/form/form.njk
  library/components/form/form.scss
  library/components/link/link.njk
  library/docs/sink-pages/components/links.njk
  library/docs/sink-pages/components/password-input-with-toggle.njk
Labels: 4 PUBLISH, BUG

#408 feature/DGST-11-input-button-doc
  doc-site/docs/components/forms.njk
Labels: Doc Site

#414 Feature/dgst 84 long form text spirit-body-text doc update
  doc-site/docs/components/long-form-text.njk
Labels: 4 PUBLISH

#415 Feature/dgst 28 icon button enhancements
  library/components/button/button.njk
  library/components/button/button.scss
  library/components/button_group/button_group.scss
  library/docs/index.njk
  library/docs/sink-pages/components/button-groups.njk
  library/docs/sink-pages/components/button-icons.njk
  library/docs/sink-pages/components/buttons.njk
Labels: 2 BUILD
